.admin-login-container {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #d3f4d1; /* Light green background */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add shadow effect */
  }
  
  h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 24px;
    color: #228b22; /* Dark green text color */
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    color: #228b22; /* Dark green text color */
  }
  
  input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #228b22; /* Dark green border */
    border-radius: 5px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #228b22; /* Dark green button color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #1b7e1d; /* Darker green color on hover */
  }
  
  .error-message {
    color: red;
    margin-top: 10px;
  }
  